<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!--Otros CSS-->
    <link rel="stylesheet" href="static/css/Salud_Avicola_Estilos/estilos-gestionar_enfermedad.css"
          th:href="@{/css/Salud_Avicola_Estilos/estilos-gestionar_enfermedad.css}">
    <!--CSS Bootstrap-->
    <link rel="stylesheet" href="static/library/bootstrap-4.6.0-dist/css/bootstrap.min.css"
          th:href="@{/library/bootstrap-4.6.0-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="static/library/fontawesome-free-5.15.3-web/css/all.min.css"
          th:href="@{/library/fontawesome-free-5.15.3-web/css/all.min.css}">
    <title>Editar enfermedad</title>
</head>
<body>
<!--miga de pan-->
<div class="tes">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../index.jsp"><i class="fa fa-home"></i> Growth System</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar Enfermedades</li>
        </ol>
    </nav>
</div>

<!--Contenedor Principal-->
<div class="container">
    <form id="form" th:action="@{/actualizarEnfermedadEmpleado}" th:object="${enfermedad}" method="post">
        <div class="form-row justify-content-center">
            <div class="col-md-12 pt-5 pb-5">
                <h1 class="text-center">GESTIONAR ENFERMEDADES</h1>
            </div>


            <div class="form-group col-md-5 pt-4">
                <div class="label">

                    <label for="id_enfermedad">Ingrese el ID de la enfermedad:</label>
                    <input class="form-control" type="number" th:field="*{IDEnfermedad}" name="id_enfermedad"
                           id="id_enfermedad" readonly required>
                    <div class="alert-danger" th:if="${#fields.hasErrors('*{IDEnfermedad}')}"
                         th:errors="*{IDEnfermedad}">ID Error
                    </div>
                    <span class="barra"></span>
                </div>
            </div>

            <div class="form-group col-md-5 pt-4">
                <div class="label">
                    <label for="nombre_enfermedad">Ingrese el nombre de la enfermedad:</label>
                    <input class="form-control" type="text" th:field="*{Nombre}" name="nombre_enfermedad"
                           id="nombre_enfermedad" min="1" maxlength="45" required>
                    <div class="alert-danger" th:if="${#fields.hasErrors('*{Nombre}')}" th:errors="*{Nombre}">ID Error
                    </div>
                    <span class="barra"></span>
                </div>
            </div>


            <div class="form-group col-md-10 pt-1">
                <div class="label">
                    <label for="tipo_enfermedad">Seleccione el tipo de enfermedad:</label>
                    <select class="custom-select" th:field="*{IDTipoEnfermedad}" id="tipo_enfermedad"
                            name="tipo_enfermedad" required>
                        <option value="">Seleccione...</option>
                        <option th:each="tipE:${tipoEnfermedad}"
                                th:value="${tipE.IDTipoEnfermedad}"
                                th:text="${tipE.NombreTipoEnfermedad}"
                        />

                    </select>
                    <div class="alert-danger" th:if="${#fields.hasErrors('*{IDTipoEnfermedad}')}"
                         th:errors="*{IDTipoEnfermedad}">ID Error
                    </div>
                    <span class="barra pt-2"></span>
                </div>
            </div>


            <div class="form-group col-md-10 pt-4">
                <div class="custom-textarea">
                    <label for="descripcion_enfermedad">Ingrese la descripción:</label>
                    <textarea class="form-control" th:field="*{Descripcion}" name="descripcion_enfermedad"
                              id="descripcion_enfermedad" min="1" maxlength="700" required></textarea>
                    <div class="alert-danger" th:if="${#fields.hasErrors('*{Descripcion}')}" th:errors="*{Descripcion}">
                        ID Error
                    </div>
                    <span class="barra pt-2"></span>
                </div>
            </div>


            <div class="col-lg-10">
                <div class="row mt-4">
                    <div class="col-md-12 py-2 col-sm-12">
                        <button type="submit" class="btn btn-dark btn-lg btn-block btnHover" name="btnActualizar"
                                value="Actualizar">Actualizar Datos
                        </button>

                    </div>

                </div>
            </div>
        </div>

        <div class="alert alert-danger text-center" th:if="${formErrorMessage}" th:text="${formErrorMessage}">Error
            MEssage
        </div>


    </form>


    <!-- Script Jquery y Bootstrap-->
    <script type="text/javascript" src="static/library/bootstrap-4.6.0-dist/js/jquery-3.5.1.slim.min.js"
            th:src="@{/library/bootstrap-4.6.0-dist/js/jquery-3.5.1.slim.min.js}"></script>
    <script type="text/javascript" src="static/library/bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js"
            th:src="@{/library/bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js}"></script>


    <script type="text/javascript" src="static/js/Salud_Avicola_JS/gestionarEnfermedadesAdmin.js"
            th:src="@{/js/Salud_Avicola_JS/tablasEnfermedades.js}"></script>
</body>
</html>
