<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{css/estilos-login.css}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- Logo Navegador -->
    <link href="img/Logo.png" rel="icon" type="image/png"/>
    <title>Login</title>
</head>

<body>

<div th:if="${mensaje != null}" th:classappend="${cambio ? 'bg-green-600' : 'bg-red-600'}" class="alerta text-white rounded" id="alerta">
    <span class="text-xl"><i th:classappend="${cambio ? 'fa-check-circle' : 'fa-times-circle'}" class="fas"></i> [[${mensaje}]]</span>
</div>

<div class="container-2xl grid grid-cols-2">
    <div class="columna__izquierda hidden bg-gray-800 md:flex md:justify-center md:items-center">
        <a th:href="@{/}">
            <img class="logo" src="img/Logo.png" alt="logo empresa">
        </a>
    </div>
    <div
            class="col-span-2 md:col-span-1 columna__derecha px-8 flex flex-col justify-center align-middle text-center">
        <h1 class="px-16 md:px-5 text-3xl font-bold text-gray-700">Ingresa con tu correo electronico y contraseña para
            poder
            acceder
            al sistema</h1>
        <p class="py-4 text-gray-700">No tienes cuenta:
            <a class="bg-yellow-700 text-white rounded px-2 py-2 font-bold" th:href="@{/registro}">Registrarse</a>
        </p>
        <form id="formulario" class="formulario grid grid-cols-12" method="POST" th:action="@{/login}">
            <input class="col-start-2 col-end-12 my-4 py-3 px-2 rounded-md bg-blue-100 font-bold text-gray-900"
                   type="email" name="username"
                   id="username" placeholder="Nombre de usuario">
            <div class="group col-start-2 col-end-12 grid grid-cols-12">
                <input class="col-span-11 my-4 py-3 px-2 rounded-l-md bg-blue-100 font-bold" type="password"
                       name="password" id="password" placeholder="Contraseña" autocomplete="off">
                <a class="col-span-1 my-4 flex items-center justify-center bg-gray-700 rounded-r-md cursor-pointer"
                   id="ojo">
                    <i class="fas fa-eye text-white"></i>
                </a>
                <div class="col-span-full text-right">
                    <a class="text-blue-900 font-bold hover:text-gray-900" th:href="@{/reiniciarClave}">Olvide
                        mi contraseña</a>
                </div>
            </div>
            <button class="col-start-2 col-end-12 my-4 py-2 rounded-md bg-gray-700 text-white font-bold"
                    type="submit">Ingresar
            </button>
        </form>
        <div id="error" th:if="${error != null}" class="mx-12 py-2 bg-red-500 text-white text-lg rounded-lg" th:text="${error}"></div>
    </div>
</div>

<script type="text/javascript" th:src="@{js/funcionalidad-ojo.js}"></script>
<script>
    const alerta = document.getElementById('alerta');
    const error = document.getElementById('error');
    setTimeout(() => {
        alerta.classList.add('hidden');
    },5000);
    setTimeout(() => {
        error.classList.add('hidden');
    },3000)
</script>
</body>
</html>