@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

.logo:hover{
    transform: rotate(360deg);
    transition: 1s;
}

form{
    padding: 0 !important;
}

.link:hover{
    color: white;
}