@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #D3EEFD;
}
li a{
    color: #000;
}

.titulo{
    color: #212529;
    font-size: 30px;
    font-weight: bold;
}
form{
    width: 80%;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    border: 4px solid #233656;
    color: #000;
}

label{
    font-weight: bold;
    font-size: 18px;
}

input:required, select:required, textarea:valid{
    border: solid 1px #7C7A7A;
    color: #000;
}

.btn {
    font-weight: bold;
    color: #000;
}

.btnRegistrar:hover{
    color: #fff;
}