<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS TABLAS -->
    <link rel="stylesheet" type="text/css"
          th:href="@{/library/Datatables/DataTables-1.10.24/css/dataTables.bootstrap4.min.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/library/Datatables/Responsive-2.2.7/css/responsive.bootstrap4.min.css}"/>
    <!-- CSS BOTONES -->
    <link rel="stylesheet" type="text/css"
          th:href="@{/library/Datatables/Buttons-1.7.0/css/buttons.bootstrap4.min.css}"/>
    <!--CSS Bootstrap-->
    <link rel="stylesheet"
          th:href="@{/library/bootstrap-4.6.0-dist/css/bootstrap.min.css} ">
    <!-- CSS FONT-BOOTSTRAP -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- CSS Estilos -->
    <link rel="stylesheet"
          th:href="@{/css/inventario/estilos.css}">
    <link rel="stylesheet"
          th:href="@{/css/inventario/estilos_tabla.css}">
    <title>AgregarProductos</title>
</head>
<body>
<!-- Container -->
<div class="container-fluid  d-flex flex-column align-items-center" id="contenedor">
    <!-- FORMULARIO -->
    <div class="col-sm-10">
        <h1 class="col-sm-12 text-center py-3">Agregar Producto</h1>
        <form th:action="@{/guardarProducto}" th:object="${producto}" method="POST" class="form-row" id="formulario">
            <div class="col-md-6">
                <!-- NOMBRE DEL PRODUCTO -->
                <section class="form__grupo form__grupo-border row mb-3 pb-4">
                    <label for="nombreProd" class="form__grupo col-lg-6 d-flex align-items-center"
                           id="productosTexto">
                        <i class="bi bi-info-circle" data-toggle="tooltip" data-placement="top"
                           title="Debe contener entre 6 y 40 caracteres. No debe contener caracteres especiales $#@%"></i>
                        &nbsp; Nombre del producto:
                    </label>
                    <div class="form__grupo col-lg-6 position-relative">
                        <input type="text" class="form__tipos form-control" name="nombreProd"
                               th:field="*{nombreProd}" autocomplete="off">
                        <i class="form__iconos form__iconos-right bi bi-dash-circle-fill" id="iconoNombreProd"></i>
                    </div>
                </section>
                <!-- TIPO DE PRODUCTO -->
                <section class="form__grupo form__grupo-border row mb-3 pb-4">
                    <label for="pIdtipo" class="form__grupo col-lg-5 py-2">
                        Tipo del producto:
                    </label>
                    <div class="form__grupo col-lg-7">
                        <select class="form__tipos form-control" name="tipos"
                                th:field="*{pIdtipo}">
                            <option value="none" selected>Seleccionar</option>
                            <option th:each="tipo : ${tipoAP}" th:value="${tipo.IDTipo}"
                                    th:text="${tipo.nombreTipo}"></option>
                        </select>
                        <i class="form__iconos bi bi-dash-circle-fill" id="iconoPIdtipo"></i>
                        <button type="button" class="form__botones btn btn-block mt-2" data-toggle="modal"
                                data-target="#modalTipo">
                            Agregar Nuevo Tipo de producto
                        </button>
                    </div>
                </section>
                <!-- INVENTARIO -->
                <section class=" form__grupo form__grupo-border row mb-3 pb-4">
                    <label for="pIdinventario" class="form__grupo col-lg-5 py-2">
                        Inventario:
                    </label>
                    <div class="form__grupo col-lg-7">
                        <select class="form__tipos form-control" name="inventarios"
                                th:field="*{pIdinventario}">
                            <option value="none" selected>Seleccionar</option>
                            <option th:each="inventario : ${inventarioAP}" th:value="${inventario.IDInventario}"
                                    th:text="${inventario.nombreInv}"></option>
                        </select>
                        <i class="form__iconos bi bi-dash-circle-fill" id="iconoPIdinventario"></i>
                        <button type="button" class="form__botones btn btn-block mt-2" data-toggle="modal"
                                data-target="#modalInventario">
                            Agregar Nuevo Inventario
                        </button>
                    </div>
                </section>
            </div>
            <!-- DESCRIPCIÓN -->
            <div class="col-md-6">
                <section class="form__grupo form__grupo-border row mb-3 pb-4">
                    <label for="entradasProd" class="form__grupo col-lg-6 d-flex align-items-center">
                        &nbsp; Cantidad:
                    </label>
                    <div class="form__grupo col-lg-6 position-relative">
                        <input type="number" class="form__tipos form-control" name="entradaProd"
                               th:field="*{entradasProd}" autocomplete="off" required min="1">
                    </div>
                </section>
                <section class="form__grupo form__grupo-border row mb-3 pb-4">
                    <label for="detalleProd" class="form__grupo col-lg-6 d-flex align-items-center">
                        &nbsp; Descripcion:
                    </label>
                    <textarea class="form__texto" form="formulario" name="detalleProd" th:field="*{detalleProd}"
                              placeholder="Descripción del producto(opcional):">
                    </textarea>
                </section>
                <section class="form__grupo form__grupo-border row mb-3 pb-4" th:if="${#fields.hasErrors('nombreProd') || #fields.hasErrors('pIdtipo')
                 || #fields.hasErrors('pIdinventario')  || #fields.hasErrors('entradasProd')}">
                    <p>Por favor completar los siguientes campos</p>
                    <span class="alert alert-primary" th:if="${#fields.hasErrors('nombreProd')}" th:errors="*{nombreProd}">Producto</span>
                    <span class="alert alert-primary" th:if="${#fields.hasErrors('pIdtipo')}" th:errors="*{pIdtipo}">Tipo producto</span>
                    <span class="alert alert-primary" th:if="${#fields.hasErrors('pIdinventario')}" th:errors="*{pIdinventario}">Inventario</span>
                    <span class="alert alert-primary" th:if="${#fields.hasErrors('entradasProd')}" th:errors="*{entradasProd}">Cantidad</span>
                </section>
            </div>
            <!-- BOTONES PARA ENVIAR -->
            <div class="col-sm-12 mt-2 text-center">
                <button type="submit" class="form__botones form__botones-upper col-sm-5 btn" name="agregar">Agregar
                    Producto
                </button>
            </div>
        </form>
    </div>
</div>

<!-- BOTÓN PARA ABRIR EL FORMULARIO -->
<button class="tabla btn" id="abrirTabla" type="button">
    <i class="tabla__icon bi bi-table"></i>
</button>
<!-- TABLA -->
<div class="tabla__data col-sm-11 position-fixed py-1 px-4 h-100 d-flex flex-column justify-content-center"
     id="tabla">
    <div class="row">
        <div class="tabla__boton col-sm-1 d-flex justify-content-start">
            <button
                    class="tabla__cerrar btn btn-danger btn-block col-sm-1 d-flex justify-content-center align-items-center"
                    id="cerrarTabla">x
            </button>
        </div>
        <div class="col-sm-11">
            <section th:insert="system/1-Administrador/modules/inventario/layout/tablasProductos :: table"></section>
        </div>
    </div>
</div>
<!-- MODALES -->
<!-- MODAL TIPO DE PRODUCTO -->
<div class="modal fade" id="modalTipo" tabindex="-1" aria-labelledby="modalTipoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form th:action="@{/guardarTipoProducto}" th:object="${tipoProducto}" method="POST" class="form"
                  id="formularioTipo">
                <div class="modal__tipo modal-header">
                    <h5 class="modal-title" id="modalTipoLabel">Tipo de Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal__tipo modal-body d-flex justify-content-center">
                    <div class="col-sm-12 row">
                        <label for="modalformTipo" class="modal__label col-sm-12 text-center">
                            Digite el nombre del tipo de producto
                            <i class="bi bi-info-circle" data-toggle="tooltip" data-placement="top"
                               title="Debe contener entre 6 y 40 caracteres. No debe contener caracteres especiales $#@%"></i>:
                        </label>
                        <input type="text" class="modal__input form-control col-sm-12"
                               autocomplete="off" th:field="*{nombreTipo}">
                        <i class="modal__icono bi bi-dash-circle-fill" id="modalformIconoTipo"></i>
                        <select type="hidden" class="d-none" th:field="*{activoTipo}">
                            <option value="1" selected></option>
                        </select>
                    </div>
                </div>
                <div class="modal__tipo modal-footer d-flex justify-content-center">
                    <div class="col-sm-12 row d-flex justify-content-around">
                        <button type="button" class="btn btn-outline-dark col-sm-5"
                                data-dismiss="modal">Cancelar
                        </button>
                        <button type="submit" class="btn btn-primary col-sm-6 modal__boton" name="agregar_tipo">Añadir
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- MODAL INVENTARIO -->
<div class="modal fade" id="modalInventario" tabindex="-1" aria-labelledby="modalInventarioLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form th:action="@{/guardarInventario}" th:object="${inventario}" class="form" id="formularioInventario" method="POST">
                <div class="modal__tipo modal-header">
                    <h5 class="modal-title" id="modalInventarioLabel">Tipo de Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal__tipo modal-body">
                    <div class="col-sm-12 row">
                        <label for="nombreInv" class="modal__label col-sm-12">
                            Digite el nombre del tipo de producto <i class="bi bi-info-circle" data-toggle="tooltip"
                                                                     data-placement="top"
                                                                     title="Debe contener entre 6 y 40 caracteres. No debe contener caracteres especiales $#@%"></i>:
                        </label>
                        <input type="text" th:field="*{nombreInv}" class="modal__input form-control col-sm-12"
                               autocomplete="off">
                        <i class="modal__icono bi bi-dash-circle-fill" id="modalformIconoInventario"></i>
                    </div>
                    <div class="col-sm-12 row">
                        <label for="descripcionInv" class="modal__label col-sm-12">Digite la descripción
                            del inventario(opcional):</label>
                        <input th:field="*{descripcionInv}" class="modal__input form-control col-sm-12"></input>
                    </div>
                    <select type="hidden" class="d-none" th:field="*{activoInv}">
                        <option value="1" selected></option>
                    </select>
                </div>
                <div class="modal__tipo modal-footer d-flex justify-content-center">
                    <div class="col-sm-12 row d-flex justify-content-around">
                        <button type="button" class="btn btn-outline-dark col-sm-5"
                                data-dismiss="modal">Cancelar
                        </button>
                        <button type="submit" class="btn btn-primary col-sm-6 modal__boton" name="agregar_inventario">
                            Añadir
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Script Jquery y Bootstrap-->
<script type="text/javascript" th:src="@{/library/bootstrap-4.6.0-dist/js/jquery-3.5.1.slim.min.js}"></script>
<script type="text/javascript" th:src="@{/library/bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js}"></script>
<!-- Tablas -->
<script type="text/javascript"
        th:src="@{/library/Datatables/DataTables-1.10.24/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript"
        th:src="@{/library/Datatables/DataTables-1.10.24/js/dataTables.bootstrap4.min.js}"></script>
<script type="text/javascript"
        th:src="@{/library/Datatables/Responsive-2.2.7/js/dataTables.responsive.min.js}"></script>
<script type="text/javascript"
        th:src="@{/library/Datatables/Responsive-2.2.7/js/responsive.bootstrap4.min.js}"></script>
<!-- Script activación botones y excel -->
<script type="text/javascript"
        th:src="@{/library/Datatables/Buttons-1.7.0/js/dataTables.buttons.min.js}"></script>
<script type="text/javascript" th:src="@{/library/Datatables/Buttons-1.7.0/js/buttons.html5.min.js}"></script>
<script type="text/javascript" th:src="@{/library/Datatables/Buttons-1.7.0/js/buttons.colVis.min.js}"></script>
<script type="text/javascript" th:src="@{/library/Datatables/Buttons-1.7.0/js/buttons.colVis.min.js}"></script>
<script type="text/javascript" th:src="@{/library/Datatables/JSZip-2.5.0/jszip.min.js}"></script>
<script type="text/javascript" th:src="@{/library/Datatables/JSZip-2.5.0/jszip.min.js}"></script>
<!-- Script boton copiar -->
<script type="text/javascript" th:src="@{/library/Datatables/Buttons-1.7.0/js/buttons.print.min.js}"></script>
<!-- Script boton pdf -->
<script type="text/javascript" th:src="@{/library/Datatables/pdfmake-0.1.36/pdfmake.min.js}"></script>
<script type="text/javascript" th:src="@{/library/Datatables/pdfmake-0.1.36/vfs_fonts.js}"></script>
<!-- Otros -->
<script type="text/javascript" th:src="@{/js/inventario/table.js}"></script>
<script type="text/javascript" th:src="@{/js/inventario/funcionalidad.js}"></script>
<script type="text/javascript" th:src="@{/js/inventario/validacion.js}"></script>
<script type="text/javascript" th:src="@{/js/inventario/validacionModal.js}"></script>

</body>

</html>
